<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="js" lang="en-US" ng-app="mideApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="../">
    <title>Daniel Hair</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="javascripts/textcomplete/textcomplete.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/mide.controller.js"></script>
      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheets" href="stylesheets/textcomplete.css">
    <link rel="stylesheet" href="./stylesheets/ionicons.min.css" />	
    <link rel="stylesheet" href="./stylesheets/app.css">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <link rel="stylesheet" href="./stylesheets/footer.css">
    <link rel="stylesheet" href="./stylesheets/navbar.css">
      <link rel="stylesheet" href="./stylesheets/style.css">
    
    <!-- FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700&amp;subset=latin,latin-ext"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700,900" rel="stylesheet" type="text/css">
    

  </head>
  <body ng-controller="mideController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- START SITE HEADER -->
  <header class="site-header">
	  <h2>MIDE</h2>
	</header>
	<!-- END SITE HEADER -->
	<div class="marginTop"></div>
	  <!-- FEATURES SECTION -->
      <div class="section background-color-gray topSection" id="topSection">
		<!-- START CONTAINER -->
		<div class="row padding-5">
            <div class="col-md-6 font-weight-300">
                <h1>Editor</h1>
                <section class="editor">
                    <p>This editor has Bootstrap and jQuery integrated. Feel free to use them!</p>
                    <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist" id="myTabs">
                        <li role="presentation" class="active"><a href="#html" aria-controls="html" role="tab" data-toggle="tab">HTML</a></li>
                        <li role="presentation"><a href="#css" aria-controls="css" role="tab" data-toggle="tab">CSS</a></li>
                        <li role="presentation"><a href="#js" aria-controls="js" role="tab" data-toggle="tab">Javascript</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active ui-widget" id="html">
                            <textarea id="html-text" class="form-control" ng-model="html" width="100%" height="700px" ng-change="combineCode()"></textarea>  
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="css">
                            <textarea id="css-text" class="form-control" ng-model="css" width="100%" height="700px" ng-change="combineCode()"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="js">
                              <textarea id="js-text" class="form-control" ng-model="js" width="100%" height="700px" ng-change="combineCode()"></textarea>
                        </div>
                      </div>

                    </div>
                    
                </section>
            </div>
            <div class="col-md-6 font-weight-300">
                <h1>Preview</h1>
                <section class="preview_html">
                    <iframe srcdoc="{{ combinedData | trustEditorHTML }}" width="100%" height="700px">
                        Sorry, we use frames for our IDE, please use a browser that supports iframes.
                    </iframe>
                </section>
            </div>
        </div>
		<!-- END CONTAINER -->
        <div>
            <h1>Things to Finish for this Project</h1>
            <h2>Priorities</h2>
            <ul style="text-align: left;">
                
                <li>When cursor is on a tag, highlight both the opening and closing of that tag to help know where it opens and closes</li>
                <li>Color tags one color, properties another, quotes another color</li>
                <li>Autofill tags</li>
                <li>Allow autocomplete</li>
                <ul>
                    <li>When one types within a tag (typing a property or others), have it show suggestions for tags</li>
                    <li>When they hit tab when a suggestion is showing, have it autocomplete</li>
                </ul>
                
            </ul>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
	  <!-- START FOOTER -->
	  <footer id="social" class="site-footer">
	    <p class="copyright"><span class="glyphicon glyphicon-copyright-mark"></span> 2015 Daniel Hair and Brandon Bingham - All Rights Reserved</p>
	  </footer>
	  <!-- END FOOTER -->
	</div>
    <script>
        $('#myTabs li a').click(function (event) {
          event.preventDefault()
          $(this).tab('show');
        });
    </script>
    <script src="./javascripts/tab.js"></script>
    <script src="./javascripts/autocomplete.js"></script>
  </body>
</html>